*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

iframe{
  display: none!important;
}

body{
  overflow-x: hidden;
  font-family: "Inconsolata", monospace;
}

#data-vis{
  position: fixed;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.caption  {
  fill: #000000;
  font-size: 0.65rem;
  visibility: hidden;
  cursor: default;
}

#landing-right, #start-predict {
  padding: 5% 0 0 10%;
}

p{
  font-size: 1.2rem;
}

small {
  font-size: 0.9rem;
}

a{
  color: #000000;
  text-decoration: underline;
}

span{
  color: #4D4D4D;
}

#title-heading {
  font-family: "Inconsolata", monospace;
  margin: 20% 0 5% 0;
}

#get-started {
  margin-top: 5%;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
}

#get-started:hover {
  color: #FFFFFF;
  background-color: #000000;
}

#more-info:hover {
  text-decoration: underline;
  cursor: pointer;
}

#back-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ques {
  font-size: 1.0rem;
  color: #000000;
  line-height: 1.5rem;
  margin-top: 5%;
}

table{
  display: none;
}

td, th{
  padding: 0.1rem 1rem;
  line-height: 1rem;
  font-family: "Inconsolata", monospace;
}

table, th, td{
  font-size: 0.65rem;
  font-weight: 400;
  text-align: left;
}

.row:last-of-type {
  margin-bottom: 10%;
}

#help-bg {
  width: 100%;
  height: 200%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  z-index: 99;
  position: absolute;
  display: none;
}

#exit-help {
  margin-top: 10%;
  cursor: pointer;
}

#exit-help:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 800px){
  #data-vis-hold{
    display: none;
  }
  
  #landing-right, #start-predict {
      padding-left: 5%;
  }

  #title-heading{
    margin: 30% 0 5% 0;
    font-size: 2.5rem;
  }

  p{
    font-size: 1.2rem;
    line-height: 2rem;
  }

  #sub-text{
    font-size: 1rem;
  }

  #top-nav {
    margin-top: 10%;
  }

  .totals {
    font-size: 1.1rem;
    padding-top: 2%;
  }

  .ques {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 10%;
  }
  
  .help-content {
      padding-left: 5%;
      font-size: 1.1rem;
      line-height: 2rem;
  }
  
  #exit-help {
      padding-left: 5%;
  }
}
